#ROS == noetic
#python == 3.8.10

#For visualizing map only, Not in actual simulation.
trimesh
pyglet == 1.5.29
scipy

#For actually running node
Pyyaml
catkin_pkg
rospkg

#For carla-python-ROS
pip == 24.3.1 #To install carla-python API
carla == 0.9.15